.cover__link{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 1184px;
  min-height: 0px;
  padding: calc((62.5% - 250px)/2) 0;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  text-decoration: none;
}

.cover__link::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.2s;
}

.cover__link:hover::before{
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .cover__link{
    padding: calc((62.5% - 134px)/2) 0;
    gap: 16px;
  }
}

